<div>
  <form action='/authentication/signin' method='POST'>
    <input type='text' name='email' placeholder='EMAIL'/>
    <input type='password' name='password' placeholder='PASSWORD'/>
    <input type='submit' value='signin'/>
  </form>
</div>