<div>
  <form action='/authentication/register_user' method='POST'>
    <input type='text' name='name' placeholder='NAME'/>
    <input type='text' name='email' placeholder='EMAIL'/>
    <input type='password' name='password' placeholder='PASSWORD'/>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/>
    <input type='submit' value='SIGN UP'/>
  </form>
</div>
