body {
  background-color: #1E8BC3;
  font-family: 'Merriweather', serif;
}

h1,h2,h3 {
  color: #FFF;
}

h1,h2,h3,h4 {
  font-family: 'Noto Serif', serif;
}

/*Begin Survey CSS*/
.container {
  padding-top: 1em;
  padding-left: 6em;
  padding-right: 6em;
}

.answer {
	padding-left: 3em;
}

.answer-new {
	outline: 1px dashed gray;
	font-color: gray;
}
/*End Survey CSS*/

.container-fluid {
   display: block;
/*   background-color: #2a2c2b;*/
}
ul #login {
   background-color: #D9CB9E;
   list-style-type: none;
}

li {
  display: inline;
}
#title {
  display: block;
  height: 110px;
  margin-top: 20px;
/*  font-family: Coursive;*/
  /*background-color: #D9CB9E;*/
}
#greeting {
  background: url(http://4.bp.blogspot.com/-JRIvicT_Ohs/TmFc6lHxxDI/AAAAAAAAEbA/rRCBGE_EXLY/s1600/Funny+Gorilla+picture+for+widescreen2.jpg) no-repeat;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/

  background-size: cover;
/*  position:; absolute;
  display: block;*/
  height: 500px;
/*  display: block;*/
}
#buttons {
/*  position: relative;
  top: 400px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100px;
  width: 150px;
  margin-bottom: 50px;
}
.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #d9cb9e;
  border: #374140;
  font-weight: bolder;
}
.btn:hover {
  background: #dc3522;
}
.btn:active {
  background: #dc3522;
}

#logform, #signform {
  position: fixed;
  bottom: 50px;
  margin-top: 250px;
  margin-left: 100px;
  padding: 50px;
  width: 30%;
  background: #D9CB9E;
  opacity: 0.7;
  display: none;
  border-radius: 10px;
}
#welcome {
  display: inline-block;
  margin-left: 200px;
  text-align: center;
  font-size: 60px;
  color: #FFF;
}

.question-results {
  margin: 20px;
  height: auto;
}

.navbar {
  margin-bottom: 0px;
}

