/*Begin Survey CSS*/
.container {
  padding-top: 1em;
  padding-left: 6em;
  padding-right: 6em;
}

.answer {
	padding-left: 3em;
}

.answer-new {
	outline: 1px dashed gray;
	font-color: gray;
}
/*End Survey CSS*/

.container-fluid {
   display: block;
   background-color: #d9cb9e;
   height: 1050px;
}
ul #login {
   background-color: #D9CB9E;
   list-style-type: none;
}

li {
  display: inline;
}
#title {
  position: relative;
  top: -90px;
  display: block;
  height: 100px;
  font-family: GoodDog;
  z-index: 1;
}
#greeting {
  position: relative;
  top: -60px;
  display: table;
  width: 100%;
  height: 0px;
}
#gorilla {
  display: table-cell;
  width: 75%;
  background: url(http://4.bp.blogspot.com/-JRIvicT_Ohs/TmFc6lHxxDI/AAAAAAAAEbA/rRCBGE_EXLY/s1600/Funny+Gorilla+picture+for+widescreen2.jpg) no-repeat center center fixed;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  background-size: cover;
  border-right: 2px solid #2a2c2b;
}
#mytext {
  display: table-cell;
  width: 25%;
  background: #dc3522;
  opacity: 0.9;
  font-family: ‘Palatino Linotype’, sans-serif ;
}
#mytext h2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
#mytext p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

#buttons {
  position: relative;
  left: 10px;
  top: 10px;
  width: 90px;
  font-size: 10px;
  z-index: 2;
}
#anime {
  height: 25px;
  width: 90px;
  font-size: 16px;
  border: none;
  background-color: #d9cb9e;
}

.btn {
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  background: #d9cb9e;
  border: #374140;
  font-weight: bolder;
  font-size: 15px;
  font-family: 'Roboto Slab', Arial;
  height: 35px;
  opacity: 0.6;
}

form .btn {
  background: #2a2c2b;
  color: red;
}
span .btn {
  background: #2a2c2b;
  color: red;
}
span .btn:hover {
  /*color: red;*/
  font-size: 20px;
}
form {
  color: red;
}

.btn a {
  color: black;
}

#logform, #signform {
  position: fixed;
  top: 50px;
  /*margin-top: 250px;*/
  margin-left: 100px;
  padding: 50px;
  width: 30%;
  background: #2a2c2b;
  opacity: 0.9;
  display: none;
  border-radius: 10px;
  z-index: 2;
}
#welcome {
  display: inline-block;
  margin-left: 150px;
  text-align: center;
  font-size: 60px;
  color: #374140;
  font-weight: bolder;
  font-family: copperplate;
}

.question-results {
  margin: 20px;
  height: 500px;
}


