<ul class="list-group">
<% surveys.each do |survey| %>
	<li class="list-group-item">
		<a href="" class="survey-selector" data-survey-id="<%= survey.id %>">
			<%= survey.title %>
		</a>
	</li>
<% end %>
</ul>