<div class='container-fluid' data-survey=<%= survey.id %> id='survey-container'>
	<% survey.questions.each_with_index do |question, index| %>
	<div class='ct-chart ct-square' id="question_<%= question.id %>"></div>
	<% end %>
</div>