<div class="container">
  <div class="survey-container">
    <div class="page-header"><h2>Survey Title</h2></div>
    <p><b>Question</b>: Did you meet Tom Hanks last night?</p>
    <form role="form">
      <div class="radio">
        <ul><label><input type="radio" name="optradio">Yes</label></ul>
      </div>
    </form>
  </div>
</div>

