	<div class="container">
		<div class="page-header"><h2><%= @survey.title.capitalize %></h2></div>
		<% @questions.each do |q|%>
		<% if @survey.id == q.survey_id %>
		<div class="panel panel-default">
			<div class="panel-body ">
				<p><b>Question</b>: <%=q.text%></p>
			</div>
		<% @choices.each do |c|%>
		<% if c.question_id == q.id && @survey.id == q.survey_id %>
			<div class="panel-footer">
				<ul><label><input type="radio" name="optradio_{<%=q.id%>}"> <%= c.text %> </label></ul>
			</div>
		<%end%>
		<%end%>
		</div>
		<%end%>
		<%end%>
		<div class="btn" style="float: right">Submit</div>
	</div>

