<div class="container-fluid">
  <div id="title"></div>
  <div id="greeting">
    <div id="logform">
      <form action='/authentication/signin' method='POST'>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='submit' value='signin'/><br>
      </form>
    </div>
    <div id="signform">
      <form action='/authentication/register_user' method='POST'>
        <input type='text' name='name' placeholder='NAME'/><br><br>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='text' name='password_confirm' placeholder='PASSWORD'/><br><br>
        <input type='submit' value='SIGN UP'/>
      </form>
    </div>
  </div>
  <div id="buttons">
    <button type="button" class="btn btn-default btn-lg btn-block" id="login">LOG IN</button>
   <button type="button" class="btn btn-default btn-lg btn-block" id="signup">SIGN UP</button>
 </div>
   <!-- <button type="button" class="btn btn-default btn-lg btn-block" id="login"><a href="authentication/login">LOG IN</a></button>
   <button type="button" class="btn btn-default btn-lg btn-block" id="signup"><a href="authentication/signup">SIGN UP</a></button>
 </div> -->
</div>