<div class="container-fluid" id="index">
  <div id="title">
    <h1 id="welcome">Welcome to Survey Gorilla!!!</h1>
    </div>

  <div id="greeting">
    <div id="logform">
      <form action='/authentication/signin' method='POST'>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='submit' value='signin'/><br>
      </form>
    </div>

    <div id="signform">
      <form action='/authentication/register_user' method='POST'>
        <input type='text' name='name' placeholder='NAME'/><br><br>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='text' name='password_confirm' placeholder='PASSWORD'/><br><br>
        <input type='submit' value='SIGN UP'/>
      </form>
    </div>
     <div id="buttons" >
        <button type="button" class="btn btn-default btn-lg btn-block" id="login">LOG IN</button>
       <button type="button" class="btn btn-default btn-lg btn-block" id="signup">SIGN UP</button>
    </div>
  </div>
</div>