<div class="container-fluid" id="index">
  <div id="buttons" >
    <button type="button" class="btn btn-default btn-lg btn-block" id="login">LOG IN</button>
    <button type="button" class="btn btn-default btn-lg btn-block" id="signup">SIGN UP</button>
  </div>
  <div id="title">
    <h1 id="welcome">Welcome to Survey Gorilla!!!</h1>
  </div>


  <div id="greeting">
    <div id="gorilla">
      <div id="logform">
        <form action='/authentication/signin' method='POST'>
          <label for="exampleInputEmail1">Email address</label>
          <input type='text' name='email' class="form-control" id="exampleInputEmail1" placeholder='EMAIL'/><br><br>
          <label for="exampleInputPassword1">Password</label>
          <input type='password' name='password' class="form-control" id="exampleInputPassword1" placeholder='PASSWORD'/>
          <input type="submit" class="btn btn-default" value = "SIGN IN">
          <!-- <input type='submit' value='signin'/><br> -->
        </form>
        <span><a href="/"><button type="button" class="btn btn-default">Close</button></span>
      </div>
    </div>


    <div id="signform">
      <form action='/authentication/register_user' method='POST'>
        <input type='text' name='name' placeholder='NAME'/><br><br>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='password' name='password_confirm' placeholder='PASSWORD'/><br><br>
        <input type='submit' class="btn btn-default" value='SIGN UP'/>
      </form>
      <span><a href="/"><button type="button" class="btn btn-default">Close</button></span>
    </a>
  </div>
     <!-- <div id="buttons" >
        <button type="button" class="btn btn-default btn-lg btn-block" id="login">LOG IN</button>
       <button type="button" class="btn btn-default btn-lg btn-block" id="signup">SIGN UP</button>
     </div> -->
   </div>
 </div>