<div class="container-fluid">
  <div id="title"></div>
  <div id="buttons"></div>
   <button type="button" class="btn btn-default btn-lg btn-block"><a href="authentication/login">LOG IN</a></button>
   <button type="button" class="btn btn-default btn-lg btn-block"><a href="authentication/signup">SIGN UP</a></button>
 </div>
</div>