  <div class="container-fluid" id="index">

    <div id="buttons" >
      <button type="button" class="btn btn-default btn-lg btn-block" id="login">LOG IN</button>
      <button type="button" class="btn btn-default btn-lg btn-block" id="signup">SIGN UP</button>
    </div>

    <div id="title">
      <h1 id="welcome">Welcome to Survey Gorilla!!!</h1>
    </div>

    <div id="greeting">
      <div id="gorilla">




   </div>

   <div id="mytext">
    <h2> Take a survey, or create your own!</h2>
    <p>SurveyGorilla easily might be the world's second popular online survey software. We make it easier than ever to create polls and survey questionnaires for learning about anything from customer satisfaction to employee engagement.</p>
    <p> Sign up to access our library of sample survey questions and expert-certified templates.</p>
    <p> Customize your survey questions, distribute your questionnaire on the web, and start collecting responses in real time.</p>
    <p> Our advanced tools helps you turn survey data into insights and create professional reports.</p>
   </div>

  </div>
 </div>
