<div class="container-fluid">

  <div id="toptitle" class="row">
   <div class="col-md-10"><h1>Survey Gorilla</h1></div>
     <div class="col-md-2">
        <button type="button" class="btn btn-default btn-lg btn-block myb" id="login">LOG IN</button>
       <button type="button" class="btn btn-default btn-lg btn-block myb" id="signup">SIGN UP</button>
     </div>
    </div>
  </div>

<div id="myim" class="left">


</div>
<div id="myte" class="right">

<div id="log">
      <form action='/authentication/signin' method='POST'>

        <input type='text' name='email' class="form-control" id="exampleInputEmail1" placeholder='EMAIL'/><br><br>
        <input type='password' name='password' class="form-control" id="exampleInputPassword1" placeholder='PASSWORD'/><br><br>
        <input type="submit" value="submit">
        <!-- <input type='submit' value='signin'/><br> -->
      </form>
    </div>

    <div id="sign">
      <form action='/authentication/register_user' method='POST'>
        <input type='text' name='name' placeholder='NAME'/><br><br>
        <input type='text' name='email' placeholder='EMAIL'/><br><br>
        <input type='password' name='password' placeholder='PASSWORD'/><br><br>
        <input type='text' name='password_confirm' placeholder='PASSWORD'/><br><br>
        <input type='submit' value='SIGN UP'/>
      </form>
    </div>
  <p>On our website you can take a survey, or create your own</p>

</div>
</div>